{% extends 'base.html' %}
{% load static %}

{% block title %}
   <title>2NHack - Investigatie digitala </title>
{% endblock %}

{% block content %}

<html lang="en">
   <!-- Basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Site Metas -->
   <title>Induko</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

   <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
   <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
   <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

   </head>
   <body id="inner_page">
      <!-- header -->
      {% block header %}
      {% endblock %}
      <!-- end header -->

      <script>
         var accuracy = 69;

         function changeAccuracy(value) {
            accuracy = value;
         }
      </script>

      <!-- section -->
      <section class="layout_padding section">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1">
                     <h2>Notificări</h2>
                     <h4>Vedeți cele mai noi mesaje primite.</h4>
                     <hr>

                     <div class="container">


                     <div  id="post-header">
                       <div id="post-details">
                           <p class="h2">"{{ post.text }}"</p>
                          <br>
                          <br>
                           <h1 style="text-align: left;">Dataset sursă <span class="badge badge-danger">Urgent</span></h1>
                         <hr>

                         <div class="row">
                        {% for picture_path in post.paths_as_list %}
   <!--                        <p>{{picture_path}}</p>-->
   <!--                        <img src="{% static picture_path %}" alt="#" />-->

                           <div class="col-lg-2 col-sm-3 col-xs-4">
                             <a href="#">
                                  <img src="{% static picture_path %}" class="thumbnail img-responsive">
                             </a>
                           </div>

                        {% endfor %}

                             <br>
                           <h1 style="text-align: left;">Verdict: {{post.verdict}}</h1>
                         <hr>

                             <div class="row">
                              <div class="col-sm">
                                 <!-- Stanga -->
                              </div>
                              <div class="col-sm">

                              </div>
                              <div class="col-sm">
                                 <!-- Dreapta -->
                                 <!-- End of dreapta -->
                              </div>

                           </div>

                        </div>

                         <hr>

                           <p style="font-size: 12px; margin-left: 80%;">by {{ post.created_by.first_name }} {{ post.created_by.last_name }} on {{ post.created_at }}</p>
                       </div>
                   </div>



                   {% for comment in object.comments.all %}
                       <div class="comment">
                           <div style="color: black;">{{ comment.text }}</div>
                           <div style="font-size: 12px; margin-left: 80%;">{{ comment.created_by.first_name }} {{ comment.created_by.last_name }}, {{ comment.created_at }}</div>
                       </div>
                   {% endfor %}

                   <form method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="col-sm-4"></div>
                           <div class="col-sm-4"><input type="text" name="text" class="form-control" required="" id="id_text" maxlength="{{ form.text.field.widget.attrs.maxlength }}" placeholder="Adăugați un comentariu"></div>
                           <div class="col-sm-2"><input type="submit" class="btn btn-primary comment" value="Submit"></div>
                       </div>
                   </form>


                  </div>
               </div>
            </div>
         </div>
      </div>
      </section>
      <!-- end section -->

      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM --><!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->

      <!-- section -->
      <section class="layout_padding section">
        <div class="container">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1">




                  </div>
               </div>
            </div>
        </div>
      </section>
      <!-- end section -->



      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM --><!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM --><!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->
      <!--  ALGOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOORITM -->


     <!-- about section -->
<!--      <section class="layout_padding section about_dottat">-->
<!--         <div class="container">-->
<!--            <div class="row">-->
<!--               <div class="col-lg-12 text_align_center">-->
<!--                  <div class="full">-->
<!--                     <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--               <div class="col-md-12">-->
<!--                  <div class="about_img margin_top_30  text_align_center">-->
<!--                     <img src="{% static 'images/ab_img.png' %}" alt="#" />-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </section>-->
      <!-- end about section -->

      <!-- section -->
<!--      <section class="layout_padding section">-->
<!--         <div class="container">-->
<!--            <div class="row">-->
<!--               <div class="col-lg-12 text_align_center">-->
<!--                  <div class="full heading_s1">-->
<!--                     <h2>Our Courses</h2>-->
<!--                  </div>-->
<!--                  <div class="full">-->
<!--                     <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--            <div class="row">-->

<!--              <div class="col-md-4 text_align_center">-->
<!--                 <div class="cours">-->
<!--                   <img class="img-responsive" src="{% static 'images/cour1.png' %}" alt="#" />-->
<!--                 </div>-->
<!--                 <h3>Design</h3>-->
<!--                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>-->
<!--              </div>  -->

<!--              <div class="col-md-4 text_align_center">-->
<!--                 <div class="cours">-->
<!--                   <img class="img-responsive" src="{% static 'images/cour2.png' %}" alt="#" />-->
<!--                 </div>-->
<!--                 <h3>Coding</h3>-->
<!--                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>-->
<!--              </div> -->

<!--              <div class="col-md-4 text_align_center">-->
<!--                 <div class="cours">-->
<!--                   <img class="img-responsive" src="{% static 'images/cour3.png' %}" alt="#" />-->
<!--                 </div>-->
<!--                 <h3>Javascript</h3>-->
<!--                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>-->
<!--              </div> -->

<!--            </div>-->
<!--            <div class="row">-->
<!--               <div class="col-md-12">-->
<!--                  <div class="full center">-->
<!--                      <a class="blue_bt" href="#">Read More</a>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </div>-->
<!--         </div>-->
<!--      </section>-->
      <!-- end section -->
  
      <!-- section -->
      <section class="section blue_pattern_bg" style="background-color: #3b3bff;">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="full">
                     <h4>Vrei să ne pui o întrebare?</h4>
                     <p>adipiscing elit, sed do eiusmod tempor incididunt ut<br>labore et dolore magna aliqua.</p>
                  </div>
               </div>
               <div class="col-md-6">
                 <div class="form_subribe">
                    <form>
                       <input type="email" name="email" placeholder="Scrie aici" />
                       <button>Trimite</button>
                    </form>
                 </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
     
      <!-- footer -->
      <footer class="footer layout_padding">
         <div class="container">
            <div class="row">

               <div class="col-md-4 col-sm-12">
                  <a href="{{ homepage }}"><img class="img-responsive" src="{% static 'images/logo_footer.png' %}" alt="#" /></a>
                  <div class="footer_link_heading">
                     <div class="footer_menu margin_top_30">
                     <ul>
                        <li><a href="tel:9876543210">9876 543 210</a></li>
                        <li><a href="#">demo@gmail.com</a></li>
                        <li><a href="#"></a></li>
                     </ul>
                  </div>
                  </div>
               </div>
               
               <div class="col-md-8">
                 <div class="row">
                    <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>Mai multe detalii?</h3>
                  </div>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="#">Test1</a></li>
                        <li><a href="#">Test1</a></li>
                        <li><a href="#">Test3</a></li>
                        <li><a href="#">Test4</a></li>
                     </ul>
                  </div>
               </div>

               <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>Categorii</h3>
                  </div>
                  <div class="footer_menu">
                    <ul>
                       <li><a href="#">Test5</a></li>
                       <li><a href="#">Test6</a></li>
                       <li><a href="#">Test7</a></li>
                       <li><a href="#">Test8</a></li>
                    </ul>
                  </div>
               </div>
               
               <div class="col-md-4 col-sm-12">
                  <div class="footer_link_heading">
                     <h3>Link-uri utile</h3>
                  </div>
                  <div class="footer_menu">
                    <ul>
                       <li><a href="#">Test14</a></li>
                       <li><a href="#">Test9</a></li>
                       <li><a href="#">Test10</a></li>
                       <li><a href="#">Test11</a></li>
                       <li><a href="#">Test12</a></li>
                       <li><a href="#">Test13</a></li>
                    </ul>
                  </div>
               </div>
                 </div>
               </div>
               
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Core JavaScript
         ================================================== -->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/tether.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/parallax.js' %}"></script>
      <script src="{% static 'js/animate.js' %}"></script>
      <script src="{% static 'js/ekko-lightbox.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>


   <script>


   am4core.ready(function() {

   // Themes begin
   am4core.useTheme(am4themes_animated);
   // Themes end

   var chartMin = 0;
   var chartMax = 100;



   var data = {
     score: accuracy,
     gradingData: [
       {
         title: "Se află în valorile normale",
         color: "#0f9747",
         lowScore: 0,
         highScore: 25
       },
<!--       {-->
<!--         title: "Volatile",-->
<!--         color: "#54b947",-->
<!--         lowScore: -20,-->
<!--         highScore: 0-->
<!--       },-->
<!--       {-->
<!--         title: "Foundational",-->
<!--         color: "#b0d136",-->
<!--         lowScore: 0,-->
<!--         highScore: 20-->
<!--       },-->
       {
         title: "Potențial crescut",
         color: "#f3eb0c",
         lowScore: 25,
         highScore: 50
       },
       {
         title: "Pontențial ridicat, necesită intervenție",
         color: "#fdae19",
         lowScore: 50,
         highScore: 75
       },
<!--       {-->
<!--         title: "Sustainable",-->
<!--         color: "#f04922",-->
<!--         lowScore: 60,-->
<!--         highScore: 80-->
<!--       },-->
       {
            title: "High Performing",
         color: "#ee1f25",
         lowScore: 75,
         highScore: 100
       }
     ]
   };

   /**
   Grading Lookup
    */
   function lookUpGrade(lookupScore, grades) {
     // Only change code below this line
     for (var i = 0; i < grades.length; i++) {
       if (
         grades[i].lowScore < lookupScore &&
         grades[i].highScore >= lookupScore
       ) {
         return grades[i];
       }
     }
     return null;
   }

   // create chart
   var chart = am4core.create("chartdiv", am4charts.GaugeChart);
   chart.hiddenState.properties.opacity = 0;
   chart.fontSize = 9;
   chart.innerRadius = am4core.percent(80);
   chart.resizable = true;

   /**
    * Normal axis
    */

   var axis = chart.xAxes.push(new am4charts.ValueAxis());
   axis.min = chartMin;
   axis.max = chartMax;
   axis.strictMinMax = true;
   axis.renderer.radius = am4core.percent(80);
   axis.renderer.inside = true;
   axis.renderer.line.strokeOpacity = 0.1;
   axis.renderer.ticks.template.disabled = false;
   axis.renderer.ticks.template.strokeOpacity = 1;
   axis.renderer.ticks.template.strokeWidth = 0.5;
   axis.renderer.ticks.template.length = 5;
   axis.renderer.grid.template.disabled = true;
   axis.renderer.labels.template.radius = am4core.percent(15);
   axis.renderer.labels.template.fontSize = "0.9em";

   /**
    * Axis for ranges
    */

   var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
   axis2.min = chartMin;
   axis2.max = chartMax;
   axis2.strictMinMax = true;
   axis2.renderer.labels.template.disabled = true;
   axis2.renderer.ticks.template.disabled = true;
   axis2.renderer.grid.template.disabled = false;
   axis2.renderer.grid.template.opacity = 0.5;
   axis2.renderer.labels.template.bent = true;
   axis2.renderer.labels.template.fill = am4core.color("#000");
   axis2.renderer.labels.template.fontWeight = "bold";
   axis2.renderer.labels.template.fillOpacity = 0.3;



   /**
   Ranges
   */

   for (let grading of data.gradingData) {
     var range = axis2.axisRanges.create();
     range.axisFill.fill = am4core.color(grading.color);
     range.axisFill.fillOpacity = 0.8;
     range.axisFill.zIndex = -1;
     range.value = grading.lowScore > chartMin ? grading.lowScore : chartMin;
     range.endValue = grading.highScore < chartMax ? grading.highScore : chartMax;
     range.grid.strokeOpacity = 0;
     range.stroke = am4core.color(grading.color).lighten(-0.1);
     range.label.inside = true;
     range.label.text = grading.title.toUpperCase();
     range.label.inside = true;
     range.label.location = 0.5;
     range.label.inside = true;
     range.label.radius = am4core.percent(10);
     range.label.paddingBottom = -5; // ~half font size
     range.label.fontSize = "0.9em";
   }

   var matchingGrade = lookUpGrade(data.score, data.gradingData);

   /**
    * Label 1
    */

   var label = chart.radarContainer.createChild(am4core.Label);
   label.isMeasured = false;
   label.fontSize = "6em";
   label.x = am4core.percent(50);
   label.paddingBottom = 15;
   label.horizontalCenter = "middle";
   label.verticalCenter = "bottom";
   //label.dataItem = data;
   label.text = data.score.toFixed(1);
   //label.text = "{score}";
   label.fill = am4core.color(matchingGrade.color);

   /**
    * Label 2
    */

   var label2 = chart.radarContainer.createChild(am4core.Label);
   label2.isMeasured = false;
   label2.fontSize = "2em";
   label2.horizontalCenter = "middle";
   label2.verticalCenter = "bottom";
   label2.text = matchingGrade.title.toUpperCase();
   label2.fill = am4core.color(matchingGrade.color);


   /**
    * Hand
    */

   var hand = chart.hands.push(new am4charts.ClockHand());
   hand.axis = axis2;
   hand.innerRadius = am4core.percent(55);
   hand.startWidth = 8;
   hand.pin.disabled = true;
   hand.value = data.score;
   hand.fill = am4core.color("#444");
   hand.stroke = am4core.color("#000");

   hand.events.on("positionchanged", function(){
     label.text = axis2.positionToValue(hand.currentPosition).toFixed(1);
     var value2 = axis.positionToValue(hand.currentPosition);
     var matchingGrade = lookUpGrade(axis.positionToValue(hand.currentPosition), data.gradingData);
     label2.text = matchingGrade.title.toUpperCase();
     label2.fill = am4core.color(matchingGrade.color);
     label2.stroke = am4core.color(matchingGrade.color);
     label.fill = am4core.color(matchingGrade.color);
   })

   setInterval(function() {
       hand.showValue(accuracy, 1000, am4core.ease.cubicOut);
   }, 2000);

   }); // end am4core.ready()
</script>

</html>
{% endblock %}